// media
$screen-max-width: var(--screen-max-width);
$screen-min-width: var(--screen-min-width);
$desktop-hd: 1800px;
$desktop: 1280px;
$tablets-big: 960px;
$tablets: 768px;
$phones: 460px;

//font
$font-family-base: var(--font-family-base);


// primary colors
$white: var(--c-white);
$white-soft: var(--c-white-soft);
$white-mute: var(--c-white-mute);
$black: var(--c-black);
$black-pure: var(--c-black-pure);
$black-soft: var(--c-black-soft);
$black-mute: var(--c-black-mute);
$indigo: var(--c-indigo);
$indigo-soft: var(--c-indigo-soft);
$indigo-light: var(--c-indigo-light);
$gray: var(--c-gray);
$gray-1: var(--c-gray-1);
$gray-2: var(--c-gray-2);
$gray-3: var(--c-gray-3);
$gray-4: var(--c-gray-4);
$gray-5: var(--c-gray-5);
$divider-1: var(--c-divider-1);
$divider-2: var(--c-divider-2);

$text-1: var(--c-text-1);
$text-2: var(--c-text-2);
$text-3: var(--c-text-3);
$text-4: var(--c-text-4);
$text-code: var(--c-text-code);

$brand-vue: var(--c-green);
$brand-vue-dark: var(--c-green-dark);
$brand-yandex: var(--c-yellow);
$green-light: #42d392;
$green-lighter: #35eb9a;
$green-dark: #33a06f;
$green-darker: #155f3e;
$blue: #3b8eed;
$blue-light: #549ced;
$blue-lighter: #50a2ff;
$blue-dark: #3468a3;
$blue-darker: #255489;
$yellow: #ffc517;
$yellow-light: #ffe417;
$yellow-lighter: #ffff17;
$yellow-dark: #e0ad15;
$yellow-darker: #bc9112;
$red: #ed3c50;
$red-light: #f43771;
$red-lighter: #fd1d7c;
$red-dark: #cd2d3f;
$red-darker: #ab2131;
$purple: #de41e0;
$purple-light: #e936eb;
$purple-lighter: #f616f8;
$purple-dark: #823c83;
$purple-darker: #602960;

/* background color */
$bg: var(--bg);
$bg-soft: var(--bg-soft);
$bg-mute: var(--bg-mute);

/* shadow */
$shadow-1: var(--shadow-1);
$shadow-2: var(--shadow-2);
$shadow-3: var(--shadow-3);
$shadow-4: var(--shadow-4);
$shadow-5: var(--shadow-5);


$blue: #464D62;
$dark-blue: #3e3e59;

/* interactive hover, focus */
$hover-svg-color: var(--c-hover-svg);
$hover-link-color: $brand-vue;

/* status color */
$error: #FFD2D2;
$error-main: #D8000C;
$success: #DFF2BF;
$success-main: #4F8A10;
$info: #BDE5F8;
$info-main: #00529B;
$warning: #FEEFB3;
$warning-main: #9F6000;

/* banner */
$banner-height: 0;

/* header */
$header-height: var(--header-height);
$header-line-height: calc(#{$header-height} - 1px);

/* z-index */
$z-index-local-nav: 10;
$z-index-nav: 20;
$z-index-banner: 30;
$z-index-backdrop: 40;
$z-index-sidebar: 50;

/* gradient */
$vue-gradient: linear-gradient(315deg, #42d392 25%, #647eff);
