.icon {
  transition: fill .2s ease, stroke .2s ease;

  &--input {
    position: absolute;
    top: 38px;
    left: 9px;
    fill: $gray-svg;
  }

  &--plus {
    position: absolute;
    top: 6px;
    left: 2px;
  }

  &--success {
    fill: $success-main
  }

  &--error {
    fill: $error-main;
  }

  &--password {
    width: 30px;
    height: 30px;
  }

  &--socials {
    fill: $gray;
  }
}

.input:focus + .icon {
  fill: $focus-color;
}

.button:focus, .button:hover {
  .icon {
    &--skill {
      fill: $focus-color;
    }

    &--save {
      fill: $success-main;
    }

    &--edit {
      fill: $warning-main;
    }

    &--remove {
      fill: $error-main;
    }
  }
}

a:hover {
  .icon--socials {
      fill: $focus-color;
  }
}
