@import "../../../styles/mixins/position-absolute";

.wrapper {
  --border-radius: 50%;
  --icon-size: 64px;
  --border-width: 5px;
  
  & {
    background: transparent;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    max-height: var(--size);
    max-width: var(--size);
    overflow: hidden;
    position: relative;
    z-index: var(--z-index-background);
  }
  
  &:after {
    @include position-absolute-all-0();
    animation: animation_img_idle 20s ease infinite;
    background: var(--gradient-vue);
    background-size: 100% 100%;
    border-radius: var(--border-radius);
    content: '';
    display: flex;
    height: 100%;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: var(--z-index-hidden);
  }
  
  .photo {
    border: var(--border-width) solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    max-width: var(--size);
    min-height: var(--size);
    object-fit: cover;
    object-position: center;
    position: relative;
    width: 100%;
  }
  
  .icon {
    align-self: center;
    background-color: var(--bg-overlay-black-1);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: flex;
    fill: var(--color-brand);
    max-height: var(--size);
    max-width: var(--size);
    min-height: var(--icon-size);
    min-width: var(--icon-size);
  }
  
  &_big {
    --size: 200px;
    --icon-padding: 60px;
    
    &:after {
      max-height: var(--size);
      max-width: var(--size);
    }
    
    & > .icon {
      padding: var(--icon-padding);
    }
  }
  
  &_small {
    --size: 100px;
    --icon-padding: 20px;
    
    &:after {
      height: var(--size);
      width: var(--size);
    }
    
    & > .icon {
      padding: var(--icon-padding);
    }
  }
}

@keyframes animation_img_idle {
  0% {
    --animation-start: 0deg;
    --animation-end: 360deg;
    transform: rotate(var(--animation-start));
  }
  100% {
    transform: rotate(var(--animation-end));
  }
}
