$bp-desktop-hd: 1800px;
$bp-desktop: 1280px;
$bp-tablets: 768px;
$bp-phones: 480px;
$white: #FFFFFF;
$gray: #414C63;
$gray-svg: #A9AEB9;
$black: #000000;

$focus-color: #5500F2;
$hover-color: #5500F2;

$error: #FFD2D2;
$error-main: #D8000C;
$success: #DFF2BF;
$success-main: #4F8A10;
$info: #BDE5F8;
$info-main: #00529B;
$warning: #FEEFB3;
$warning-main: #9F6000;
