$bp-desktop-hd: 1800px;
$bp-desktop: 1280px;
$bp-tablets: 768px;
$bp-phones: 480px;

// primitive color
$white: #FFFFFF;
$black: #000000;
$gray: #414C63;
$gray-svg: #A9AEB9;
$dark-blue: #3e3e59;

//interactive hover, focus
$focus-color: #5500F2;
$hover-color: #5500F2;

// status color
$error: #FFD2D2;
$error-main: #D8000C;
$success: #DFF2BF;
$success-main: #4F8A10;
$info: #BDE5F8;
$info-main: #00529B;
$warning: #FEEFB3;
$warning-main: #9F6000;

$dialog-gradient: linear-gradient(rgba(45, 60, 78, .9), rgba(45, 60, 78, .9));
$admin-gradient: linear-gradient(rgba(252, 252, 254, .89), rgba(252, 252, 254, .99))
