* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.42;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.animation {
  transition: all .3s ease;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 80px);
}
